<div class="row">
  <div class="col">
    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0, ngb-panel-1">
      <ngb-panel title="Critical Now">
        <ng-template ngbPanelContent>
          <ng-container *ngTemplateOutlet="panelContent"></ng-container>
        </ng-template>
      </ngb-panel>
      <ngb-panel title="Over The Horizon">
        <ng-template ngbPanelContent>
          <ng-container *ngTemplateOutlet="panelContent"></ng-container>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
</div>

<ng-template #panelContent>
  <table class="table table-hover">
    <thead>
    <tr>
      <th>#</th><th>Title</th><th>Startdate</th><th>Type</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let task of tasks" (click)="onSelect(task)">
      <td>{{task.id}}</td><td>{{task.title}}</td><td>{{task.startdate}}</td><td>{{task.type}}</td>
    </tr>
    </tbody>
  </table>
</ng-template>
