<nav class="navbar navbar-light align-items-end">
  <div ngbDropdown class="d-inline-block" placement="bottom-right">
    <button class="navbar-toggler" type="button" id="dropdownBasic1" ngbDropdownToggle aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <ul id="tasklists-menu-list" class="dropdown-list">
        <li class="dropdown-item" *ngFor="let tasklist of tasklists$ | async">{{tasklist.name}}</li>
      </ul>
      <hr>
      <ul id="account-menu-list" class="dropdown-list">
        <li class="dropdown-item">Account</li>
        <li class="dropdown-item">Logout</li>
      </ul>
    </div>
  </div>
</nav>
